<h1>Coach answer</h1>

<div class="question">
    <p>You asked :</p>
    <%= @question%>
</div>
<p>---------------------</p>

<div class="anwer">
    <p>Coach :</p>
    <%= @answer %>
</div>

<br>
<br>
<%= link_to "Ask something new", ask_path %>