<h1>The Stupid coach</h1>

<p>What do you want to ask to the coach ?</p>

<form action="/answer" method="GET"> 
<!--action: sur quelle page j'arrive quand je submit / 
GET permet de lire une page -->
  <input type="text" name="data_form1" placeholder="Ask something"> <!--Il faut donner un nom à mon input, création d'un hash, name=key-->
  <input type="submit" value="Ask!">
</form>